*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



#square{
    margin: auto;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}


.bg-color-aqua{
    background-color: aqua;
    pointer-events: none;
}

.bg-color-red{
    background-color: red;
}


.cell{
    border: 1px solid black;
    text-align: center;
}

.cell-10{
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.cell-9{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.cell-7{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.youLose{
    border: 5px solid red;
    background-color:black;
    z-index: 100;
    pointer-events: none;
}

.bomb{
    background-image: url(bomb-3175208.png);
    background-size: contain;
    background-position: center center;
}

.punteggio{
    font-size:3rem
}

